In [ ]:
from pipline import data_loader
from alpaca.data.timeframe import TimeFrame
import json

In [11]:
BACK_TEST_YEARS = 2
TIMEFRAME: TimeFrame = TimeFrame.Hour # type: ignore

tickets_filename = "edufund_tickets.json"

# Excluding any market or sector stocks since we just want individual stocks for PCA
etfs_to_exclude = {
    "SPY", "QQQ", "IWM", "DIA", "VOO", "VTI", "XLE", "XLF", "XLK", 
    "XLP", "XLU", "XLV", "XLY", "XLI", "XLB", "XLRE", "EFA", "EEM", 
    "VEA", "AGG", "LQD", "HYG", "TLT", "IEF", "BND", "EMB", "GLD", 
    "SLV", "VNQ"
}

with open(data_loader.DATA_PATH / tickets_filename, mode="r") as f:
    all_tickets = json.load(f)

tickets = [t for t in all_tickets["equity_symbols"] if t not in etfs_to_exclude]

df = data_loader.load_stock_data(
    tickets, years_from_2025_end=BACK_TEST_YEARS, timeframe=TIMEFRAME
)

df

                                    open      high     low     close  \
symbol timestamp
AAPL   2023-01-03 09:00:00+00:00  130.28  131.4600  130.28  131.3000
       2023-01-03 10:00:00+00:00  131.40  131.4000  130.80  131.0000
       2023-01-03 11:00:00+00:00  130.91  131.2500  130.05  130.3800
       2023-01-03 12:00:00+00:00  130.38  130.7500  130.03  130.5000
       2023-01-03 13:00:00+00:00  130.25  131.2285  129.63  130.9200
...                                  ...       ...     ...       ...
ZTS    2025-12-30 18:00:00+00:00  126.41  126.8300  126.37  126.8116
       2025-12-30 19:00:00+00:00  126.81  126.8350  126.34  126.7400
       2025-12-30 20:00:00+00:00  126.75  126.9000  126.30  126.4100
       2025-12-30 21:00:00+00:00  126.41  126.4100  126.41  126.4100
       2025-12-30 23:00:00+00:00  127.00  127.0000  126.00  126.0000

                                    volume  trade_count        vwap
symbol timestamp
AAPL   2023-01-03 09:00:00+00:00  143683.0       2513.0  131.139697
       2023-01-03 10:00:00+00:00   42853.0       1008.0  130.990593
       2023-01-03 11:00:00+00:00   84001.0       1583.0  130.527277
       2023-01-03 12:00:00+00:00  184600.0       3173.0  130.405637
       2023-01-03 13:00:00+00:00  504693.0       7436.0  130.609312
...                                    ...          ...         ...
ZTS    2025-12-30 18:00:00+00:00  293478.0       5269.0  126.550041
       2025-12-30 19:00:00+00:00  326577.0       6032.0  126.610458
       2025-12-30 20:00:00+00:00  611691.0      11346.0  126.626669
       2025-12-30 21:00:00+00:00  344625.0         50.0  126.410000
       2025-12-30 23:00:00+00:00     217.0          4.0  126.471698

[3875016 rows x 7 columns]

In [12]:
df.isnull().any()

open           False
high           False
low            False
close          False
volume         False
trade_count    False
vwap           False
dtype: bool